.victory-container {
  text-align: center;
  margin-top: 70px;
}

.victoy-content {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 500px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: middle;
  position: relative;
  padding: 35px;
}

.victory-msg
{
  vertical-align: middle;
  font-size: 3.5em;
  font-family: impact
}

.trophy {
  width: 200px;
}
