.pyramid-container {
  width: calc(2px * var(--pyramid-size));
  height: calc(2px * var(--pyramid-size));
  margin: auto;
}

.pyramid {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;

  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 10s linear infinite;
  -webkit-transform-origin: calc(0.83px * var(--pyramid-size))
    calc(1px * var(--pyramid-size)) calc(0.83px * var(--pyramid-size));

  -moz-transform-style: preserve-3d;
  -moz-animation: spin 10s linear infinite;
  -moz-transform-origin: calc(0.83px * var(--pyramid-size))
    calc(1px * var(--pyramid-size)) calc(0.83px * var(--pyramid-size));

  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
  transform-origin: calc(0.83px * var(--pyramid-size))
    calc(1px * var(--pyramid-size)) calc(0.83px * var(--pyramid-size));
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.pyramid > div {
  position: absolute;
  border-style: solid;
  border-width: calc(1px * var(--pyramid-size)) 0
    calc(1px * var(--pyramid-size)) calc(1.73px * var(--pyramid-size));
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

.pyramid > div:first-child {
  border-color: transparent transparent transparent var(--face-color);
  -webkit-transform: rotateY(-19.5deg) rotateX(180deg)
    translateY(calc(-2px * var(--pyramid-size)));
  -moz-transform: rotateY(-19.5deg) rotateX(180deg)
    translateY(calc(-2px * var(--pyramid-size)));
  transform: rotateY(-19.5deg) rotateX(180deg)
    translateY(calc(-2px * var(--pyramid-size)));
}

.pyramid > div:nth-child(2) {
  border-color: transparent transparent transparent var(--face-color);
  -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
    translateY(calc(-2px * var(--pyramid-size)));
  -moz-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
    translateY(calc(-2px * var(--pyramid-size)));
  transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
    translateY(calc(-2px * var(--pyramid-size)));
}

.pyramid > div:nth-child(3) {
  border-color: transparent transparent transparent var(--face-color);
  -webkit-transform: rotateX(60deg) rotateY(19.5deg);
  -moz-transform: rotateX(60deg) rotateY(19.5deg);
  transform: rotateX(60deg) rotateY(19.5deg);
}

.pyramid > div:nth-child(4) {
  border-color: transparent transparent transparent var(--face-color);
  -webkit-transform: rotateX(-60deg) rotateY(19.5deg)
    translateX(calc(-0.59px * var(--pyramid-size)))
    translateY(calc(-1px * var(--pyramid-size)))
    translateZ(calc(1.63px * var(--pyramid-size)));
  transform: rotateX(-60deg) rotateY(19.5deg)
    translateX(calc(-0.59px * var(--pyramid-size)))
    translateY(calc(-1px * var(--pyramid-size)))
    translateZ(calc(1.63px * var(--pyramid-size)));
}
