.game {
  text-align: center;
}

.cards {
  width: 100%;
  padding: 20px 20px;
}

.card-cell {
  padding: 1%;
}

.guess-container {
  text-align: center;
}

.guess-content {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 15px;
  width: 20%;
}

.guess-title {
  font-size: 1.65em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.65);
  font-family: impact;

}

.announcements
{
  vertical-align: middle;
  font-size: 2.5em;
  font-family: impact;
}
