.playerlist-container {
  margin-top: 5%;
}

.playerlist-wrapper {
  margin: auto;
}

.playerlist-box {
  margin: auto;
  border: 1px solid black;
  width: 50%;
  margin-top: 20px;
}

.btn-leave {
  float: left;
  margin-top: -10px;
  border-radius: 100% !important;
}

.btn-start {
  border-radius: 10% !important;
  margin-top: 10px;
}

.playerlist-footer {
  text-align: center;
  width: 50%;
  margin: auto;
}

.playerlist-header {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  width: 50%;
  margin: auto;
}

.playerlist-header h2 {
  margin: 0;
  display: inline;
}

.counter-header {
  float: right;
  border-radius: 100% !important;
}

.scrollbar {
  height: 400px;
  overflow-y: scroll;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #324960;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

.img-avatar {
  border-radius: 50%;
  max-width: 50px;
}

.text-avatar {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background: #46b5e5;
  background: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: -ms-linear-gradient(
    45deg,
    #46b5e5 1%,
    #1e88e5 64%,
    #40baf5 97%
  );
  background-image: -moz-linear-gradient(
    45deg,
    #46b5e5 1%,
    #1e88e5 64%,
    #40baf5 97%
  );
  background-image: -o-linear-gradient(
    45deg,
    #46b5e5 1%,
    #1e88e5 64%,
    #40baf5 97%
  );
  background-image: -webkit-linear-gradient(
    45deg,
    #46b5e5 1%,
    #1e88e5 64%,
    #40baf5 97%
  );
  background-image: linear-gradient(
    45deg,
    #46b5e5 1%,
    #1e88e5 64%,
    #40baf5 97%
  );
}

.text-avatar span {
  line-height: 40px;
  color: #fff;
  font-size: 1.5em;
}
