.games-container {
  margin-top: 5%;
}

.games-wrapper {
  margin: auto;
}

.games-box {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}

.games-header {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  width: 50%;
  margin: auto;
}

.games-header h1 {
  margin: 0;
  display: inline-block;
}

.btn-create {
  float: left;
  font-size:30px !important;
  border:1.5px solid black !important;
  border-radius: 15px !important;
}

.btn-refresh {
  float: right;
  font-size:25px !important;
  border:1.5px solid black !important;
  border-radius: 15px !important;
}

.btn-join {
  float: right;
  font-size:14px !important;
  border:1.5px solid black !important;
  border-radius: 15px !important;
}

.scrollbar {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  overflow-y:hidden;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: rgba(255,255,255,0.7);
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  font-size: 12px;
}

.fl-table thead th {
  font-size:fantasy;
  color: #ffffff;
  background: #324960;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

.roomsHeader {
  margin-left:200px;
  width:30%;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: rgba(255,255,255,0.1);
  font-family:fantasy;
}
