.app-header {
  margin-left: 5px;
  margin-right: 5px;
  height: 60px;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  border: 3px solid #ffffff;
  background-color: rgba(255,255,255,0.3);
}

.app-title {
  font-family: fantasy;
  line-height: 50px;
  vertical-align: middle;
  font-size: 2.35em;
}

.app-branding {
  float: left;
}

.app-options {
  float: right;
}

.app-nav ul {
  list-style-position: none;
  margin: 0;
  padding: 0;
}

.app-nav ul li {
  font-family: fantasy;
  vertical-align: middle;
  font-size: 1.35em;
  list-style-type: none;
  display: inline-block;
}

.app-nav ul li a {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.app-nav ul li a:hover {
  color: #0f96f6;
}

.app-nav ul li a.active {
  color: #0f96f6;
}
